<h1><%= @team.name %></h1>
<br>
<h2>Team Motto: <%= @team.motto %></h2>
<br>
<h2>Hero Name: <%= @heros[0].name %></h2>
<br>
<p>Hero Power: <%= @heros[0].power %></h2>
<p>Hero Biography: <%= @heros[0].bio %></p>
<br>
<h2>Hero Name: <%= @heros[1].name %></h2>
<br>
<p>Hero Power: <%= @heros[1].power %></h2>
<p>Hero Biography: <%= @heros[1].bio %></p>
<br>
<h2>Hero Name: <%= @heros[2].name %></h2>
<br>
<p>Hero Power: <%= @heros[2].power %></h2>
<p>Hero Biography: <%= @heros[2].bio %></p>



